# 1. Import Libraries → panggil pandas & numpy.

Import Libraries → supaya bisa pakai alat bantu (pandas untuk olah data, numpy untuk hitung-hitungan).

In [1]:
import pandas as pd
import numpy as np

# 2. Baca dataset kotor (Excel)
Baca dataset kotor → ambil data mentah (CSV/XLSX) agar bisa diolah.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import pandas as pd

# Ganti path sesuai lokasi file di Drive kamu
path = "/content/drive/MyDrive/Colab Notebooks/dataset_kotor.xlsx"

df = pd.read_excel(path)
print("Data Asli:\n")
print(df)

Data Asli:

     Nama.Lengkap        Tanggal.Lahir           Email      Kota
0    budi santoso  1998-05-12 00:00:00   budi@mail.com    Malang
1     Siti Aminah           2000-13-01           siti@  Surabaya
2            Andi           1997-02-30  andi.gmail.com    Malang
3    Dewi Lestari  1999-07-25 00:00:00   dewi@mail.com   Jakarta
4    BUDI SANTOSO  1998-05-12 00:00:00   budi@mail.com    Malang
5      rina putri  2001-11-03 00:00:00   rina@mail.com   Bandung
6            Agus                  NaN   agus@mail.com  Surabaya
7  Citra Maharani           2002/04/31      citra@mail     Jogja
8            Andi           1997-02-30  andi.gmail.com    Malang
9   Bayu Prasetyo  2003-08-15 00:00:00   bayu@mail.com   Jakarta

# 3. Menampilkan struktur variable data
Tampilkan struktur → cek isi data: tipe kolom, jumlah baris, contoh datanya.

In [7]:
print("Struktur Data:")
print(df.info())
print("\nContoh 5 baris data awal:")
print(df.head())

Struktur Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nama.Lengkap   10 non-null     object
 1   Tanggal.Lahir  9 non-null      object
 2   Email          10 non-null     object
 3   Kota           10 non-null     object
dtypes: object(4)
memory usage: 452.0+ bytes
None

Contoh 5 baris data awal:
   Nama.Lengkap        Tanggal.Lahir           Email      Kota
0  budi santoso  1998-05-12 00:00:00   budi@mail.com    Malang
1   Siti Aminah           2000-13-01           siti@  Surabaya
2          Andi           1997-02-30  andi.gmail.com    Malang
3  Dewi Lestari  1999-07-25 00:00:00   dewi@mail.com   Jakarta
4  BUDI SANTOSO  1998-05-12 00:00:00   budi@mail.com    Malang

# 4. Data Cleansing - Standarisasi kolom
Standarisasi nama kolom → biar konsisten (huruf kecil semua, tanpa spasi), mudah dipanggil di coding.

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace(".", "_", regex=False)

# 5. Data Cleansing - Standarisasi kolom Nama.Lengkap
Standarisasi Nama.Lengkap → rapikan teks (hapus spasi berlebih, huruf jadi Title Case).

In [11]:
df['nama.lengkap'] = df['nama.lengkap'].astype(str).str.strip().str.title()

# 6. Data Cleansing - Standarisasi kolom Tanggal.Lahir
Standarisasi Tanggal.Lahir → ubah semua ke format tanggal yang valid agar bisa dihitung.

In [13]:
df['tanggal.lahir'] = pd.to_datetime(df['tanggal.lahir'], errors="coerce")

# 7. Data Cleansing - Deduplikasi Data
Deduplikasi data → hapus data ganda supaya tidak dobel saat analisis.

In [14]:
df = df.drop_duplicates()

# 8. Data Enrichment (contoh: hitung umur dari tanggal lahir)
Enrichment (Umur) → tambahkan informasi baru dari data yang ada, misalnya umur dari tanggal lahir.
tujuan keseluruhan = membersihkan data supaya rapi, konsisten, valid, dan siap dianalisis.

In [16]:
today = pd.to_datetime("today")
df['umur'] = df['tanggal.lahir'].apply(lambda x: today.year - x.year if pd.notnull(x) else np.nan)

print("\nData setelah cleansing dan enrichment:")
print(df.head())

Data setelah cleansing dan enrichment:
   nama.lengkap tanggal.lahir           email      kota  umur
0  Budi Santoso    1998-05-12   budi@mail.com    Malang  27.0
1   Siti Aminah           NaT           siti@  Surabaya   NaN
2          Andi           NaT  andi.gmail.com    Malang   NaN
3  Dewi Lestari    1999-07-25   dewi@mail.com   Jakarta  26.0
5    Rina Putri    2001-11-03   rina@mail.com   Bandung  24.0

/tmp/ipython-input-1487874123.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['umur'] = df['tanggal.lahir'].apply(lambda x: today.year - x.year if pd.notnull(x) else np.nan)